- extends '__base.jade'

block style
  link(rel='stylesheet', href='{{ STATIC_URL }}brand/css/brand.css')

block content

  h1 {{brand.brand_nm}}
  if owner
    if owner.owner_link
      h2 Owned by 
        a(href=owner.owner_link) {{ owner.owner_nm }}
    else
      h2 Owned by {{ owner.owner_nm }}
  else
    h2 No owner
    
  table
    tbody
      td.brand-table-td-logo-full
        if brand.brand_logo
            img(src=brand.brand_logo.url,height='150',title=brand.brand_nm, alt="{{brand.brand_nm}} logo")
        else
            img(src="{{ STATIC_URL }}brand/images/no_picture.gif",height='150',title=brand.brand_nm, alt="{{brand.brand_nm}} logo")
      td.brand-table-td-infos
        p <b>BSIN</b>: {{ brand.bsin }}
        p <b>Type</b>: {{ brand.brand_type_cd.brand_type_nm }}
        if brand.brand_link
          p <b>Website</b>: 
            a(href=brand.brand_link) {{ brand.brand_link }}